/* Mixins */
/* Body */
.mobile-header {
  display: none;
  -webkit-animation: fadeTop 2.5s ease-out;
          animation: fadeTop 2.5s ease-out;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: #101010;
  background-image: url(/images/Background.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.first {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.1s;
  height: 100vh;
  margin: auto;
}
main .bar-1, main .bar-2 {
  width: 95%;
  height: 1rem;
  background-color: rgb(245, 126, 14);
  box-shadow: #f57e0e 0 0 6px;
}
main .bar-1 {
  margin-top: 2rem;
  -webkit-animation: fadeTop 2.5s ease-out;
          animation: fadeTop 2.5s ease-out;
}
main .bar-2 {
  margin-bottom: 2rem;
  -webkit-animation: fadeDown 2.5s ease-out;
          animation: fadeDown 2.5s ease-out;
}
main .text {
  margin: 4rem auto 4rem 1rem;
  transition: transform 0.1s;
}
main .text::before, main .text::after {
  font-family: "Josefin sans";
  color: #f5f5f5;
  opacity: 0.4;
  font-size: 2rem;
  content: "<html>";
  -webkit-animation: fadein2 4s ease-in;
          animation: fadein2 4s ease-in;
}
main .text::after {
  content: "</html>";
}
main .text .intro, main .text .name, main .text .role {
  color: #f6f6f6;
  margin: 0 0 0 1rem;
  width: 100%;
}
main .text .intro {
  font-size: 3rem;
  -webkit-animation: fadeTop 2s ease-in;
          animation: fadeTop 2s ease-in;
}
main .text .name {
  font-weight: 600;
  font-size: 4.5rem;
  -webkit-animation: fadeTop 2s ease;
          animation: fadeTop 2s ease;
  margin-bottom: 10px;
}
main .text .role {
  margin-bottom: 10px;
  font-size: 32px;
  -webkit-animation: fadeDown 2s ease-in;
          animation: fadeDown 2s ease-in;
}
main .text .role span {
  transition: 0.4s;
  color: #f57e0e;
  text-shadow: #f57e0e 0 0 2px;
}
main .pattern {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  width: 20rem;
  transition: 1s;
  height: auto;
}
main .pattern img {
  transition: 1s;
  width: 100%;
  filter: brightness(0.7);
}
main:hover .pattern img {
  filter: brightness(1.2);
}
main .mobile-footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 80%;
  text-align: center;
  line-height: 2rem;
  font-family: "Josefin sans";
  color: #f6f6f6;
  background-color: #101010;
  margin-top: 2rem;
  font-size: 2rem;
  -webkit-animation: fadeDown 4s ease-out;
          animation: fadeDown 4s ease-out;
}
main .mobile-footer span {
  color: #f57e0e;
  -webkit-animation: blink 4s ease-in-out infinite;
          animation: blink 4s ease-in-out infinite;
}

/* PC Spline */
.laptop {
  display: flex;
  align-items: center;
  width: 60vw;
  height: 100vh;
}
.laptop img {
  display: none;
}
.laptop iframe {
  width: 60vw;
  height: 100%;
}

/* Animations */
@-webkit-keyframes fadeTop {
  from {
    transform: translateY(-40vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeTop {
  from {
    transform: translateY(-40vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeDown {
  from {
    transform: translateY(40vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeDown {
  from {
    transform: translateY(40vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadein2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}
@keyframes fadein2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Media Query */
@media screen and (max-width: 1160px) {
  main .text {
    margin: 4rem auto 4rem auto;
    align-items: center;
  }
  .laptop {
    height: 68vw;
  }
}
@media screen and (max-width: 900px) {
  .laptop {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .laptop img {
    -webkit-animation: fadeDown 3s ease-in-out;
            animation: fadeDown 3s ease-in-out;
    display: flex;
    width: 80vw;
  }
  .laptop iframe {
    display: none;
  }
  body {
    background-image: none;
    background-color: #101010;
    height: 100vh;
  }
  .mobile-header, .mobile-footer {
    position: relative !important;
    top: 0 !important;
    background-color: transparent !important;
    text-align: center;
    display: flex;
    font-family: "Josefin sans";
    color: #f6f6f6;
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 5%;
  }
  .first {
    flex-direction: column;
  }
  .first main {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    justify-content: flex-start;
    margin: 0;
    width: 80vw;
  }
  .first main .bar-1, .first main .bar-2 {
    margin: 0;
  }
  .first main .pattern {
    display: none;
  }
  .first main .text {
    margin: 2rem 0 2rem 0;
    width: 100%;
  }
  .first main .text .intro, .first main .text .name, .first main .text .role {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
  }
  .first main .text::before, .first main .text::after {
    display: none;
  }
}/*# sourceMappingURL=hero.css.map */