/* Mixins */

@mixin center-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Body */

.mobile-header,
.mobile-footer {
    display: none;
}

body {
    @include center-div();
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a1a;
    background-image: url(/images/Background.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.first {
    width: 100%;
    backdrop-filter: brightness(0.5);
    @include center-div();
    height: 100%;
}

main {
    @include center-div();
    flex-direction: column;
    transition: transform 0.1s;
    height: 100vh;
    margin: auto;

    .bar-1,
    .bar-2 {
        width: 95%;
        height: 1rem;
        background-color: rgb(245, 126, 14);
        box-shadow: #f57e0e 0 0 6px;
    }

    .bar-1 {
        margin-top: 2rem;
    }

    .bar-2 {
        margin-bottom: 2rem;
    }

    .text {
        margin: 4rem auto 4rem 1rem;
        transition: transform 0.1s;

        &::before,
        &::after {
            font-family: 'Josefin sans';
            color: #f5f5f5;
            opacity: 0.4;
            font-size: 2rem;
            content: "<html>";
            animation: fadein2 0.5s;
        }

        &::after {
            content: "</html>";
        }

        .intro,
        .name,
        .role {
            color: #f6f6f6;
            margin: 0 0 0 1rem;
            width: 100%;
        }

        .intro {
            font-size: 3rem;
            animation: fadein 2.2s;
        }

        .name {
            font-weight: 600;
            font-size: 4.5rem;
            animation: fadein 2.8s;
            margin-bottom: 10px;
        }

        .role {
            margin-bottom: 10px;
            font-size: 32px;
            animation: fadein 2.6s;

            span {
                transition: 0.4s;
                color: #f57e0e;
                text-shadow: #f57e0e 0 0 2px;
            }
        }
    }

    .pattern {
        overflow: hidden;
        @include center-div();
        z-index: -10;
        width: 20rem;
        transition: 1s;
        height: auto;

        img {
            transition: 1s;
            width: 100%;
            filter: brightness(0.7);
        }
    }

    &:hover {
        .pattern {
            img {
                filter: brightness(1.2);
            }
        }
    }
}

/* PC Spline */

.laptop {

    display: flex;
    align-items: center;
    width: 60vw;
    height: 100vh;

    iframe {
        width: 60vw;
        height: 100%;
    }
}

/* Animations */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.3;
    }
}

/* Media Query */

@media screen and (max-width: 1160px) {

    main {

        .text {
            margin: 4rem auto 4rem auto;
            align-items: center;
            width: min-content;
        }
    }

    .laptop {
        height: 68vw;
    }
}

@media screen and (max-width: 900px) {

    body {
        background-image: none;
        background-color: #1a1a1a;
        height: 100vh;
    }

    .mobile-header,
    .mobile-footer {
        text-align: center;
        display: flex;
        font-family: 'Josefin sans';
        color: #f6f6f6;
        font-size: 3rem;
        font-weight: bold;
        margin-top: 5%;
    }

    .mobile-footer {
        margin-top: 2rem;
        font-size: 2rem;
    }

    .first {
        flex-direction: column;

        main {

            .bar-1,
            .bar-2 {
                margin: 0;
            }

            height: min-content;
            justify-content: flex-start;
            margin: 0;
            width: 80vw;

            .pattern {
                display: none;
            }

            .text {
                width: 60vw;
                margin: 2rem 0 2rem 0;

                .intro,
                .name,
                .role {
                    text-align: center;
                    margin: 0;
                    font-size: 2.5rem;
                }

                &::before,
                &::after {
                    display: none;
                }
            }
        }
    }
}