/* Mixins */

@mixin center-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Body */

body {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    height: 100vh;
}

.laptop {
    @include center-div();
    width: 50vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;

    .pattern {
        position: absolute;
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: -10;
        width: 50vw;
        height: 100vh;
        filter: brightness(0.1);
        transition: 0.4s;
        background-color: #1D1D1D;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    transition: transform 0.1s;

    h1,h2,h3 {
        font-weight: bold;
        margin: 0;
        margin-left: 2rem;
        width: 30rem;
    }

    h1 {
        font-size: 5rem;
        text-shadow: 0 0 2px #1D1D1D;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 32px;
    }

    span{
        text-shadow: 0 0 2px #df5200;
        color: #df5200;
    }

}

.even {
    margin: 5px 0 5px 0;
}