/* Mixins */
/* Body */
.mobile-header,
.mobile-footer,
.pattern-3,
.pattern-4 {
  display: none;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #1d1d1d;
  background-image: url(/images/Background.png);
  background-position: right;
  background-repeat: no-repeat;
}

.first {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: brightness(0.5);
          backdrop-filter: brightness(0.5);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.1s;
  height: 100vh;
  margin: auto;
}
main .bar-1,
main .bar-2 {
  width: 95%;
  height: 1rem;
  background-color: rgb(245, 126, 14);
  box-shadow: #f57e0e 0 0 6px;
}
main .bar-1 {
  margin-top: 2rem;
}
main .bar-2 {
  margin-bottom: 2rem;
}
main .text {
  margin: 4rem auto 4rem 1rem;
  transition: transform 0.1s;
}
main .text::before, main .text::after {
  font-family: "Josefin sans";
  color: #f5f5f5;
  opacity: 0.4;
  font-size: 2rem;
  content: "<html>";
  -webkit-animation: fadein2 0.5s;
          animation: fadein2 0.5s;
}
main .text::after {
  content: "</html>";
}
main .text .intro,
main .text .name,
main .text .role {
  color: #f6f6f6;
  margin: 0 0 0 1rem;
  width: 100%;
}
main .text .intro {
  font-size: 3rem;
  -webkit-animation: fadein 2.2s;
          animation: fadein 2.2s;
}
main .text .name {
  font-weight: 600;
  font-size: 4.5rem;
  -webkit-animation: fadein 2.8s;
          animation: fadein 2.8s;
  margin-bottom: 10px;
}
main .text .role {
  margin-bottom: 10px;
  font-size: 32px;
  -webkit-animation: fadein 2.6s;
          animation: fadein 2.6s;
}
main .text .role span {
  transition: 0.4s;
  color: #f57e0e;
  text-shadow: #f57e0e 0 0 2px;
}
main .pattern {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  width: 20rem;
  transition: 1s;
  height: auto;
}
main .pattern img {
  transition: 1s;
  width: 100%;
  filter: brightness(0.7);
}
main:hover .pattern img {
  filter: brightness(1.2);
}

/* PC Spline */
.laptop {
  display: flex;
  align-items: center;
  width: 60vw;
  height: 100vh;
}
.laptop iframe {
  width: 60vw;
  height: 100%;
}

/* Animations */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}
@keyframes fadein2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}
/* Media Query */
@media screen and (max-width: 1160px) {
  main .text {
    margin: 4rem auto 4rem auto;
    align-items: center;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }

  .laptop {
    height: 68vw;
  }
}
@media screen and (max-width: 900px) {
  body {
    background-position: center;
  }

  .mobile-header,
.mobile-footer {
    text-align: center;
    display: flex;
    font-family: "Josefin sans";
    color: #f6f6f6;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 5%;
  }

  .mobile-footer {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .first {
    flex-direction: column;
  }
  .first main {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    justify-content: flex-start;
    margin: 0;
    width: 80vw;
  }
  .first main .bar-1,
.first main .bar-2 {
    margin: 0;
  }
  .first main .pattern {
    display: none;
  }
  .first main .pattern-3,
.first main .pattern-4 {
    display: block;
    position: absolute;
    z-index: -2;
    filter: grayscale(1) brightness(0.15);
  }
  .first main .pattern-3 {
    margin-top: 8rem;
    right: 80vw;
  }
  .first main .pattern-4 {
    left: 80vw;
    bottom: 40rem;
    transform: scaleX(-1);
  }
  .first main .text {
    width: 60vw;
    margin: 2rem 0 2rem 0;
  }
  .first main .text .intro,
.first main .text .name,
.first main .text .role {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
  }
  .first main .text::before, .first main .text::after {
    display: none;
  }
}/*# sourceMappingURL=sass.css.map */