/* Mixins */

@mixin center-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Body */

body {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    background: rgb(150,140,135);
background: linear-gradient(0deg, rgba(150,140,135,1) 0%, rgba(201,192,174,1) 100%);
    height: 100vh;
}

.laptop {
    @include center-div();
    width: 70vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;

    .pattern {
        position: absolute;
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: -10;
        width: inherit;
        height: 100vh;
        filter: brightness(0.1);
        transition: 1s;
        background-color: #1D1D1D;
    }
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin-left: 1rem;
    transition: transform 0.1s;

    h1,
    h2,
    h3 {
        color: #ffffff;
        font-weight: 600;
        margin: 0 0 0 1rem;
        width: 28rem;
        text-shadow:
            #ffffff74 0px 3px 3px,
            0 2px 0 #a6a6a6d3,
            0 3px 0 #939393c6,
            0 4px 0 #838383b9,
            0 5px 0 #767676b2;
    }

    h1 {
        font-size: 5rem;
        animation: fadein 0.8s;
    }

    h2 {
        font-size: 3rem;
        animation: fadein 0.5s;
    }

    h3 {
        font-size: 32px;
        animation: fadein 1s;
    }

    &::before {
        font-family: 'Josefin sans';
        opacity: 0.4;
        font-size: 2rem;
        content: "<html>";
        animation: fadein2 0.5s;
    }

    &::after {
        font-family: 'Josefin sans';
        opacity: 0.4;
        font-size: 2rem;
        content: "</html>";
        animation: fadein2 0.5s;
    }

    /*  span {
        text-shadow: 0 0 2px #df5200;
        color: #df5200;
    } */
}

.even {
    margin: 5px 0 5px 0;
}

/* Animations */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.3;
    }
}